@using Microsoft.AspNetCore.Identity
@using HouseRentals.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject HouseRentals.Data.HouseRentalsDbContext Context

@{
    // Вземаме ролята на текущия потребител
    string userRole = "";
    if (SignInManager.IsSignedIn(User))
    {
        if (User.IsInRole("Administrator"))
        {
            userRole = "Admin";
        }
        else if (User.IsInRole("Owner"))
        {
            userRole = "Собственик";
        }
        else if (User.IsInRole("Tenant"))
        {
            userRole = "Наемател";
        }
    }
}

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" href="#" id="userDropdown" role="button" 
                   data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-person-circle"></i>
                    <span>@User.Identity?.Name</span>
                @if (!string.IsNullOrEmpty(userRole))
                {
                            <span class="badge bg-light text-dark ms-1">@userRole</span>
                }
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                    <li>
                        <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index">
                            <i class="bi bi-gear"></i> Профил
                        </a>
                    </li>

                @if (User.IsInRole("Owner"))
                {
                            <li>
                                <a class="dropdown-item" asp-controller="Houses" asp-action="Create">
                                    <i class="bi bi-plus-circle"></i> Добави обява
                                </a>
                            </li>
                }

                    <li><hr class="dropdown-divider"></li>

                    <li>
                        <form class="dropdown-item p-0" asp-area="Identity" asp-page="/Account/Logout" 
                              asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                            <button type="submit" class="dropdown-item">
                                <i class="bi bi-box-arrow-right"></i> Изход
                            </button>
                        </form>
                    </li>
                </ul>
            </li>
    }
    else
    {
            <li class="nav-item">
                <a class="nav-link text-white" asp-area="Identity" asp-page="/Account/Register">
                    <i class="bi bi-person-plus"></i> Регистрация
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" asp-area="Identity" asp-page="/Account/Login">
                    <i class="bi bi-box-arrow-in-right"></i> Вход
                </a>
            </li>
    }
</ul>